.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: rgb(82, 0, 16);
  width: 50%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  height: 70vh;
}
.input {
  padding: 10px 20px;
  width: 400px;
  font-size: 18px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
}
.button {
  width: 200px;
  height: 46px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #ddd;
  color: yellowgreen;
  font-size: 18px;
  font-weight: bold;
  background-color: yellow;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background-color: rgba(255, 255, 0, 0.854);
}
